<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Password Generator</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 50px;
        }

        .container {
            width: 300px;
            margin: 0 auto;
        }

        .password {
            font-size: 18px;
            margin-top: 20px;
            font-weight: bold;
            color: #333;
        }

        input[type="submit"] {
            margin-top: 10px;
        }

        label {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <h2>Password Generator</h2>
    <form th:action="@{/generate}" method="post">
        <div>
            <label for="length">Length:</label>
            <input type="number" id="length" name="length" min="1" max="128" required/>
        </div>
        <div>
            <label for="uppercase">Uppercase Letters:</label>
            <input type="checkbox" id="uppercase" name="uppercase"/>
        </div>
        <div>
            <label for="lowercase">Lowercase Letters:</label>
            <input type="checkbox" id="lowercase" name="lowercase"/>
        </div>
        <div>
            <label for="digits">Digits:</label>
            <input type="checkbox" id="digits" name="digits"/>
        </div>
        <div>
            <label for="specialCharacters">Special Characters:</label>
            <input type="checkbox" id="specialCharacters" name="specialCharacters"/>
        </div>
        <div>
            <input type="submit" value="Generate Password"/>
        </div>
    </form>

    <div class="password" th:if="${password}">
        <p>Your generated password:</p>
        <p th:text="${password}"></p>
    </div>
</div>
</body>
</html>
